@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  background-color: #fff;
}

.top-left-logo {
  margin-right: 4px;
  height: 55px;
  width: 130px;
}

.background-wave {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.line {
  height: 2px;
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
}
.line:hover {
  background-color: red;
}

.dash {
  display: flex;
  flex-flow: column wrap;
  padding: 5rem;
  margin: 3rem;
  height: 100%;
  min-width: 60vw;
}

.folder {
  text-align: center;
  color: white;
  width: 300px;
  height: 200px;
  position: relative;
  background-color: #fff;
  padding-bottom: 120px;
}

.folder:before {
  content: "";
  width: 50%;
  height: 12px;
  border-radius: 0 20px 0 0;
  background-color: #fff;
  position: absolute;
  top: -12px;
  left: 0px;
}

.XButton {
  position: absolute;
  left: -75px;
  top: 74px;
  padding: 4px;
  font-size: 17px;
  line-height: 18px;
}

.doc {
  text-align: center;
  color: black;
  width: 100px;
  height: 105px;
  margin: 1rem;
  margin-top: 40px;
  position: relative;
  background-color: #fefedf;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
}

.doc-title {
  word-wrap: break-word;
  margin-top: 1vh;
  width: 10vw;
}

.Transcript_Viewer_Text {
  color: rgb(52, 52, 52);
  display: inline;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  height: auto;
  letter-spacing: 0.35px;
  line-height: 32px;
  overflow-wrap: break-word;
  text-decoration-color: rgb(52, 52, 52);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-size-adjust: 100%;
  white-space: pre-wrap;
  width: auto;
  -webkit-box-direction: normal;
  text-align: left;
  padding: 5rem;
}

.TranscriptViewerBox {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Filename {
  /* font-family: SourceSansPro !important; */
  font-weight: 700 !important;
  font-size: 24px !important;
  color: rgb(100, 100, 100) !important;
  letter-spacing: 0.5px !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

.ReportingTitle {
  box-sizing: border-box;
  clear: both;
  color: rgb(2, 36, 148);
  display: block;
  font-family: Averta, Averta, Helvetica;
  font-size: 52.8px;
  font-weight: 700;
  height: 116px;
  hyphens: manual;
  line-height: 58.08px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-decoration-color: rgb(2, 36, 148);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-size-adjust: 100%;
}

.BackButton {
  width: 50px;
  height: 50px;
  padding: 2rem;
}
