body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  background-color: #f0f0f0;
}

.top-left-logo {
  margin-right: 4px;
  height: 55px;
  width: 130px;
}

.background-wave {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.background-wave2 {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.line {
  height: 2px;
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
}
.line:hover {
  background-color: red;
}

.dash {
  display: flex;
  flex-flow: column wrap;
  padding: 5rem;
  margin: 3rem;
  background-color: #ADCAD6;
  height: 80vh;
  max-width: 60vw;
}

.folder {
  text-align: center;
  color: white;
  width: 300px;
  height: 200px;
  margin: .5rem;
  margin-top: 50px;
  position: relative;
  background-color: #708090;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
}

.folder:before {
  content: "";
  width: 50%;
  height: 12px;
  border-radius: 0 20px 0 0;
  background-color: #708090;
  position: absolute;
  top: -12px;
  left: 0px;
}

.doc {
  text-align: center;
  color: black;
  width: 100px;
  height: 105px;
  margin: 1rem;
  margin-top: 40px;
  position: relative;
  background-color: #fefedf;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
}

.doc-title {
  word-wrap: break-word;
  margin-top: 3vh;
}
