body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  background-color: #f0f0f0;
}

.top-left-logo {
  margin-right: 4px;
  height: 55px;
  width: 130px;
}

.background-wave {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.background-wave2 {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.line {
  height: 2px;
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
}
.line:hover {
  background-color: red;
}

.dash {
  display: flex;
  flex-flow: row wrap;
}
